**/node_modules/
**/build/
**/dist/
**/.next/
**/out/
**/.cache/
**/.parcel-cache/
**/.eslintcache
**/*.log
**/logs/
**/.env
**/.env.*
**/.env.local
**/.env.*.local
**/coverage/
**/*.tsbuildinfo
**/tmp/
**/temp/
**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/
**/vite.svg